services:
    app:
        image: '${PROJECT_NAME}'
        container_name: '${PROJECT_NAME}'
        restart: always
        ports:
            - '${PROJECT_PORT}:3000'
        env_file:
            - .env
        environment:
            - NODE_ENV=production
            - DATABASE_HOST=host.docker.internal
            - IMAGE_SERVER_URL=http://host.docker.internal:10001
        