.write-title
    input
        min-height: 5vh
.editor
    border: 1px solid #333
    .editor-btns
        border-bottom: 1px solid #EEE
        background-color: #EEE
        button
            border: none
            background-color: transparent
    .editor-description
        padding: 0.5rem
    .ProseMirror
        outline: none
        min-height: 50vh
.hashtags
    .tag
        button
            border: none
            background: transparent
.submit
    transition: 0.25s ease-in-out all
    &:hover
        background-color: #EFEFEF

