@tailwind base
@tailwind components
@tailwind utilities

*
    text-decoration: none !important
    &:focus-visible
        border: none !important
        outline: none !important
        box-shadow: none !important

input, .chakra-input__left-addon, button
    border: none !important
    box-shadow: none !important
    border-radius: 0 !important
    

.ProseMirror
    min-height: 325px
img
    max-width: 325px
    height: auto

h1
    font-size: 3rem !important
    font-weight: bold !important
    border-bottom: 1px solid 
    padding-bottom: 0.25rem !important
    margin-bottom: 0.25rem !important
h2
    font-size: 2rem !important
    font-weight: bold !important
    border-bottom: 1px solid 
    padding-bottom: 0.25rem !important
    margin-bottom: 0.25rem !important
h3
    font-size: 1.5rem !important
    font-weight: bold !important
    border-bottom: 1px solid 
    padding-bottom: 0.25rem !important
    margin-bottom: 0.25rem !important
p
    min-height: 1rem !important
.float-translate, .float-theme
    border: 1px solid !important
.custom-input
    background-color: rgba(200, 200, 200, 0.35) !important
    transition: 0.15s ease-in-out all
    &:hover
        background-color: rgba(255, 255, 255, 0.8) !important

.custom-input2
    border: 1px solid rgba(150, 150, 150, 0.35) !important
    transition: 0.15s ease-in-out all
    &:hover
        border: 1px solid rgba(150, 150, 150, 1) !important

.custom-input-left
    background-color: rgba(100, 100, 100, 0.35) !important
    transition: 0.15s ease-in-out all
    &:hover
        background-color: rgba(200, 200, 200, 0.8) !important

dialog[open] 
    animation: zoom 0.3s cubic-bezier(0.34, 1.56, 0.64, 1)
.unknown
    mix-blend-mode: multiply
    filter: contrast(1.1)
.gobackbtn
    border: 1px solid #888
#chakra-toast-manager-bottom
    background: transparent !important
    li
        background: transparent !important
.custom-tab
    border: 1px solid rgba(155, 155, 155, 0.5) !important
    border-bottom: none !important
.chakra-select
    background-color: transparent !important
    border: none !important
    &:hover, &:focus
        border: none !important

@keyframes zoom 
    from 
        transform: scale(0.95)
    
    to 
        transform: scale(1)
    
dialog[open]::backdrop 
    animation: fade 0.2s ease-out

@keyframes fade 
    from 
        opacity: 0
    
    to 
        opacity: 1
